[features]
seeds = false
skip-lint = false

[programs.localnet]
tickettoken = "E7D92vNoSj2rqB1PnuZihFZ9hDstnbJMwCFkxx9TxQBL"
marketplace = "BTNZP23sGbQsMwX1SBiyfTpDDqD8Sev7j78N45QBoYtv"

[programs.devnet]
tickettoken = "E7D92vNoSj2rqB1PnuZihFZ9hDstnbJMwCFkxx9TxQBL"
marketplace = "BTNZP23sGbQsMwX1SBiyfTpDDqD8Sev7j78N45QBoYtv"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
