[features]
seeds = false
skip-lint = false

[programs.localnet]
tickettoken = "2Pt5c9QcKSxMe9cBpfhdmfWHUwq8NUk7kFmJREJsNm2b"
marketplace = "AaQ9Un1tdu4QXidcfMgDxp7ATjTujh8McEgzH9nwQCp9"

[programs.devnet]
tickettoken = "2Pt5c9QcKSxMe9cBpfhdmfWHUwq8NUk7kFmJREJsNm2b"
marketplace = "AaQ9Un1tdu4QXidcfMgDxp7ATjTujh8McEgzH9nwQCp9"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
